
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<h2>@DateTime.Now.ToString("dd/MM/yy")</h2>

@{
    int a = 2;
    int b = 3;
    int c = a + b;
}
<h2>@c</h2>
<h2>twiter - @@account</h2>

@if(c>6)
{
    <h2>c value : @c</h2>
}
else
{
    <h2>c value graterthen </h2>
}

<h2> ternary  - @(c==5?b=10:a=8)</h2>
    <h2>b value @b and a value @a</h2>

   @switch(a)
    {
    case 1:
        <h2>case 1</h2>
        break;
    case 2:
        <h2>case 2</h2>
        break;
     default:
        <h2>default case</h2>
        break;
}